.booking__container {
  align-items: center;
  margin: 3rem;
  flex-direction: column;
  width: 30%;
}

@media only screen and (max-width: 990px) {
  .booking__container {
    margin: 2rem;
    width: 70%;
  }
}

@media only screen and (max-width: 600px) {
  .booking__container {
    margin: 1rem;
    width: 80%;
  }
}
