.custom-navbar {
  background-color: #1976d2; /* Primary color */
}

.custom-navbar .navbar-brand {
  color: #fff; /* White text */
  font-weight: bold;
  text-decoration: none;
}

.custom-navbar .navbar-brand:hover {
  color: #fff;
  text-decoration: none;
}

.custom-navbar .navbar-nav .nav-link {
  color: #fff;
  text-decoration: none;
}

.custom-navbar .navbar-nav .nav-link:hover {
  color: #fff;
  text-decoration: none;
}
